@{
    var pageName = ViewContext.RouteData.Values["action"].ToString();
}  
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="more options">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("CVSG", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav">
                <li></li>
                <li></li>
                <li></li>
            </ul>
            @if (pageName != "Login") {
            <div class="nav navbar-right">
                <ul class="nav navbar-nav">
                    <li><a id="account" href="@Url.Action("Login", "Home")">Login</a></li>
                    <li><a id="admin" href="@Url.Action("Admin", "Home") ">Admin</a></li>
                    <li><a id="admin" href="@Url.Action("AccountProfile", "Home") ">Profile</a></li>
                </ul>
            </div>
            }
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="navbar-fixed-bottom">
            <p style="padding-left: 10px;">&copy; @DateTime.Now.Year - CVSG</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

<script type="text/javascript">

    // const THESE WILL BE INITIALIZED ON *ALL* VIEWS

    const AccountToken = "@HttpContext.Current.Session["AccountToken"]";
    const AccountUsername = "@HttpContext.Current.Session["AccountUsername"]";

    // onload

    window.onload = () => {
        if (AccountUsername != "" && AccountToken != "") {
            $("#account").text("Logout");
            $("#admin").show();
        } else {
            $("#account").text("Login");
            $("#admin").hide();
        }
    }

    // events

    $("#admin").on("click", () => {
        if (AccountToken != "" && AccountUsername != "") {
            $.ajax({
                type: "POST",
                cache: false,
                url: "@Url.Action("Admin", "Home")",
                data: { },
                success: function (data) {
                    alert(data);
                }
            });
        }
    });

</script>